body {  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d9eee1;
}

#logo_container {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #2c3333;
  justify-content: center;
}

#logo_container > a > img {
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
}
#logo_container > a > img:hover {
  transform: scale(1.01);
  filter: drop-shadow(2px 2px 1px #b2aeae);
  transition: 0.5s;
}
.dropdown-container {
  width: fit-content;
  background-color: #8e9ba1;
  align-self: center;
  width: 75%;
}
.topnav {
  overflow: hidden;
  background-color: #2c3333;
  display: flex;
  justify-content: center;
}
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .icon {
  display: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: #8e9ba1;
  margin-top: 2px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #8e9ba1;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}

#up {
  display: none;
}

.dropdown-content a:hover {
  background-color: #1f5357;
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
  }
}

.dropdown-heading {
  text-align: center;
  background-color: #1f5357;
  color: white;
  margin-top: auto;
  padding: 5px;
}
.dropdown-heading-main {
  text-align: center;
  color: #1f5357;
  text-indent: 15px;
}
.dropdown-heading:hover {
  text-shadow: 0 0 1px white;
  transition: 0.3s;
  transform: scale(1.1);
}
.dropdown-heading-main:hover {
  text-shadow: 0 0 1px #1f5357;
  transition: 0.3s;
  transform: scale(1.05);
}

.topic-container {
  margin: 5px;
  border: 1px solid #1f5357;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.topic-container > a {
  text-indent: 10px;
}
.intro {
  text-align: center;
}
.intro > h1 {
  font-size: 350%;

  color: #a85751;
}
.intro > h3 {
  font-size: 150%;
  color: #1f5357;
  margin-bottom: 4%;
}
.intro > h5 {
  font-size: 110%;
  color: #1f5357;
  text-decoration: underline;
}
.intro > a {
  background-color: #dea54b;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-top: 200px;
}
#gridContainer {
  display: grid;
  grid: auto / auto;
}

.course-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.course-card > svg {
  grid-column: 1 / 3;
}
#html_course-card {
  background-color: #a85751;
}
#css_course-card {
  background-color: #dea54b;
}
#js_course-card {
  background-color: #6d9886;
}

.course-card-code-outContainer {
  display: flex;
  flex-direction: column;
  margin: 8px 20px 20px 10px;
  padding: 2px 5px 5px 5px;
  background-color: lightgrey;
  border-radius: 10px;
}
.course-card-code-outContainer > h3 {
  text-indent: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
  margin-bottom: 10px;
}

.course-card-code-inContainer {
  padding: 10px 5px 10px 25px;
  margin: 10px;
  background-color: white;
  border-left: 5px solid #04aa6d;
  border-radius: 5px;
}
.code-tryit-button {
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  background-color: #04aa6d;
  color: white;
  margin: 5px 20px;
  border-radius: 50px;
  padding: 10px 20px;
}

.course-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.course-card-text > h1 {
  margin: 0 auto 0 auto;
  font-size: 450%;
  padding-left: 10px;
}
#html_text > p,
#html_text > h1 {
  color: white;
}

#css_text > p,
#css_text > h1 {
  color: #1f5357;
}

#js_text > p,
#js_text > h1 {
  color: #393e46;
}

.course-card-text > a {
  align-self: center;
  text-decoration: none;
  width: 200px;
  border-radius: 20px;
  padding: 10px 0px;
}

#html_text > #introButton1 {
  background-color: #04aa6d;
  color: white;
}
#html_text > #introButton2 {
  background-color: #dea54b;
  color: white;
}
#html_text > #introButton3 {
  background-color: #cbe4de;
  color: black;
}

#css_text > #introButton1 {
  background-color: #04aa6d;
  color: white;
}
#css_text > #introButton2 {
  background-color: #a85751;
  color: white;
}
#css_text > #introButton3 {
  background-color: #cbe4de;
  color: black;
}
#js_text > #introButton1 {
  background-color: #a85751;
  color: white;
}
#js_text > #introButton2 {
  background-color: #dea54b;
  color: white;
}
#js_text > #introButton3 {
  background-color: #cbe4de;
  color: black;
}

#example_table {
  text-align: center;
  border-collapse: collapse;
}

#example_table td {
  border: 1px solid #40c0c9;
  padding: 2px;
}

#operator_table {
  text-align: center;
  border-collapse: collapse;
}
#operator_table td {
  border: 1px solid #40c0c9;
}
#operator_table th {
  border: 1px solid #40c0c9;
  padding: 10px;
}
