body {
  background-color: #f7f7f7;
}

a {
  display: block;
  text-decoration: none;
  padding-left: 5px;
}
.index_container {
  width: 17%;
  background-color: lightgray;
  overflow: hidden;
  border-right: 3px solid #40c0c9;
}

.body_container {
  float: right;
  width: 83%;
  height: auto;
  padding-left: 20px;
  margin-right: 20px;
}
.codespan {
  background-color: lightgray;
  padding: 2px 4px;
  color: rgb(225, 61, 61);
  border-radius: 2px;
}
.index_h3 {
  text-align: center;
  color: #1f5357;
}
.index_anchor {
  color: #1f5357;
  padding: 4px;
}
.index_anchor:hover {
  background-color: #40c0c9;
  text-shadow: 0 0 1px white;
  transition: 0.3s;
  transform: scale(1.05);
  color: white;
}

h1 {
  font-size: 2em;
}

.top_heading {
  text-align: center;
}

.example {
  display: flex;
  flex-direction: column;
  margin: 8px 20px 20px 10px;
  padding: 2px 5px 5px 5px;
  background-color: lightgrey;
  border-radius: 10px;
  width: 80%;
}
.example_title {
  text-indent: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
  margin-bottom: 10px;
}

.example_content {
  padding: 10px 5px 10px 25px;
  margin: 10px;
  background-color: white;
  border-left: 5px solid #40c0c9;
  border-right: 1px solid #40c0c9;
  border-top: 1px solid #40c0c9;
  border-bottom: 1px solid #40c0c9;
  border-radius: 5px;
}
.example_button {
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  background-color: #40c0c9;
  color: white;
  margin: 5px 20px;
  border-radius: 50px;
  padding: 10px 20px;
}

footer {
  margin-top: -16px;
}

.example_note {
  padding: 0px 5px;
  width: 80%;
  margin: 0px 0px 0px 10px;
  background-color: #faebd7;
  border-left: 5px solid #ffa500;
  border-right: 1px solid #ffa500;
  border-top: 1px solid #ffa500;
  border-bottom: 1px solid #ffa500;
  border-radius: 5px;
}

a {
  cursor: pointer;
}

.quizButton {
  background-color: #40c0c9;
  color: white;
  margin: 5px 20px;
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid #40c0c9;
  cursor: pointer;
  position: relative;
  left: 40%;
}

.quizList > li > label {
  transition: 0.3s;
}
.quizList > li > label:hover {
  transition: 0.3s;
  transform: scale(1.2);

  background-color: #40c0c9;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 5px;
  padding-right: 10px;
}
input[type="radio"] {
  margin-bottom: 10px;
}
input[type="radio"]:hover {
  transform: scale(1.2);
}
