/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Main content styles */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section p {
    margin-bottom: 0;
  }
  
  section ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  section li {
    margin-bottom: 5px;
  }
  
  /* Form styles */
  form {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 20px;
    padding: 20px;
    width:max-content;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form input[type=text],
  form input[type=email],
  form select {
    border-radius: 3px;
    border: none;
    box-shadow: inset 0 0 5px #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  form select {
    background-color: #fff;
  }
  
  form button {
    background-color: #0066cc;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
  }
  
  form button:hover {
    background-color: #0052a3;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    section {
      width: 100%;
    }
  }